<div class="container">
  <div class="row margin-top-fix">
    <form class="col s10 offset-s2" action="" (ngSubmit)="save()" [formGroup]="customerForm">

      <div class="row">
        <!--<div [ngClass]="{ 'red': formErrors.firstName }">-->
          <div class="input-field col s5"  [ngClass]="{ 'validate red lighten-5 error-input': formErrors.firstName }">
            <input type="text" class="" id="firstName" formControlName="firstName">
            <label for="firstName">Nombre</label>
            <span class="red-text error-text" *ngIf="formErrors.firstName">
              {{ formErrors.firstName }}
            </span>
          </div>
        <!--</div>-->

          <div class="input-field col s5"[ngClass]="{ 'validate red lighten-5 error-input': formErrors.lastName }">
            <input type="text" class="" id="lastName" formControlName="lastName">
            <label for="lastName">Apellido</label>
            <span class="red-text error-text" *ngIf="formErrors.lastName">
              {{ formErrors.lastName }}
            </span>
          </div>
      </div>

      <div class="row">
        <div class="input-field col s5"[ngClass]="{ 'validate red lighten-5 error-input': formErrors.email }">
          <input type="text" class="" id="email" formControlName="email">
          <label for="email">Email</label>
            <span class="red-text error-text" *ngIf="formErrors.email">
              {{ formErrors.email }}
            </span>
        </div>

        <div class="input-field col s5" [ngClass]="{ 'validate red lighten-5 error-input': formErrors.phone }">
          <input type="text" class="validate" id="phone" formControlName="phone">
          <label for="phone" data-error="" data-success="formErrors.phone">Telefono</label>
          <span class="red-text error-text" *ngIf="formErrors.phone">
               {{ formErrors.phone }}
            </span>
        </div>
      </div>

      <p>
        <input type="radio" id="radioEmail" value="email" (click)="setNotification('email')" formControlName="notification" />
        <label for="radioEmail">Email</label>
        <input type="radio" id="radioPhone" value="text" (click)="setNotification('text')" formControlName="notification" />
        <label for="radioPhone">Text</label>
      </p>

      <p>
        <input type="checkbox" id="sendCatalog" formControlName="sendCatalog"/>
        <label for="sendCatalog">Enviar Catalogo</label>
      </p>

      <div class="row center-align">
        <div class="col s10">
          <button type="submit" [disabled]="!customerForm.valid" class="btn blue waves-effect waves-light">Enviar</button>
          <button type="button" (click)="fillFormWithData()" class="btn purple waves-effect waves-light">Test Data</button>
          <button type="button" (click)="clearForm()" class="btn red red darken-2 waves-effect waves-light">Reset</button>
        </div>
      </div>

    </form>
  </div>
  <div class="row">
    <div class="col s10 offset-s1">
      <p>Dirty: <span [ngClass]="{true:'green-text',false:'red-text'}[customerForm.dirty]">{{customerForm.dirty}}</span></p>
      <p>Touched: <span [ngClass]="{true:'green-text',false:'red-text'}[customerForm.touched]">{{customerForm.touched}}</span></p>
      <p>Valid: <span [ngClass]="{true:'green-text',false:'red-text'}[customerForm.valid]">{{customerForm.valid}}</span></p>
      <p>Value: {{customerForm.value | json}}</p>
    </div>
  </div>
</div>
